<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
  <title>Greet</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
  <!-- Start of body content specific to page -->

  <div class="px-4 py-5 my-5">
    <h3 class="display-5 fw-bold">Input Your Portfolio</h3>

    <form action="/mvc/stock/simulate" method="POST" id="greetForm">
      <table style="padding:10px;">
        <tr>
          <th>Stock</th>
          <th>Quantity</th>
          <th>Buy Price</th>
          <th>Company Name</th>
          <th>Current Price</th>
          <th>Profit/Loss</th>

        </tr>
        <tr>
          <td><input type="text" name="symbol1" th:value="${symbol1}" ></td>
          <td><input name="quantity1" th:value = "${quantity1}"></td>
          <td><input name="buyPrice1"th:value = "${buyPrice1}"></td>
          <td th:text = "${name1}"></td>
          <td th:text="'$' + ${currentPrice1}"></td>
          <td th:text="'$' + ${profitLoss1}"></td>
        </tr>

        <tr>
          <td><input type="text" name="symbol2" th:value="${symbol2}" ></td>
          <td><input name="quantity2" th:value = "${quantity2}"></td>
          <td><input name="buyPrice2"th:value = "${buyPrice2}"></td>
          <td th:text = "${name2}"></td>
          <td th:text="'$' + ${currentPrice2}"></td>
          <td th:text="'$' + ${profitLoss2}"></td>
        </tr>

        <tr>
          <td><input type="text" name="symbol3" th:value="${symbol3}" ></td>
          <td><input name="quantity3" th:value = "${quantity3}"></td>
          <td><input name="buyPrice3"th:value = "${buyPrice3}"></td>
          <td th:text = "${name3}"></td>
          <td th:text="'$' + ${currentPrice3}"></td>
          <td th:text="'$' + ${profitLoss3}"></td>
        </tr>

      </table>
      <div>
        <button>Simulate!</button>
      </div>
    </form>
  </div>
  <!-- End of body content specific to page -->
</th:block>
</body>

</html>