<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
  <title>Greet</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
  <!-- Start of body content specific to page -->
  <p th:text="'Stock #1 Current Price: $' + ${currentPrice1}"></p>
  <p th:text="'Stock #1 Profit Loss: $' + ${profitLoss1}"></p>

  <div class="px-4 py-5 my-5">
    <h3 class="display-5 fw-bold">Type a Greeting</h3>

    <form action="/mvc/stock/simulate" method="POST" id="greetForm">
      <table>
        <tr>
          <th>Stock</th>
          <th>Quantity</th>
          <th>Buy Price</th>
          <th>Current Price</th>
          <th>Profit/Loss</th>
          <th>Company Name</th>
        </tr>
        <tr>
          <td><input type="text" name="symbol1" th:value="${symbol1}" ></td>
          <td><input name="quantity1" th:value = "${quantity1}"></td>
          <td><input name="buyPrice1"th:value = "${buyPrice1}"></td>
          <td th:text = "${name1}"></td>
          <td th:text="'$' + ${currentPrice1}"></td>
          <td th:text="'$' + ${profitLoss1}"></td>
        </tr>
      </table>
      <div>
        <button>Simulate!</button>
      </div>
    </form>
  </div>
  <!-- End of body content specific to page -->
</th:block>
</body>

</html>